[project]
	description = c++/python/matlab/android JAVA...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yang (tianna1121)
[access "refs/for/refs/*"]
	read = group user/yang (tianna1121)
	push = group user/yang (tianna1121)
	label-Code-Review = -2..+2 group user/yang (tianna1121)
	label-Verified = -1..+1 group user/yang (tianna1121)
	rebase = group user/yang (tianna1121)
	removeReviewer = group user/yang (tianna1121)
	submit = group user/yang (tianna1121)
[access "refs/heads/*"]
	read = group user/yang (tianna1121)
	create = group user/yang (tianna1121)
	push = +force group user/yang (tianna1121)
	pushMerge = group user/yang (tianna1121)
[access "refs/tags/*"]
	push = +force group user/yang (tianna1121)
	pushTag = group user/yang (tianna1121)
	pushSignedTag = group user/yang (tianna1121)
